<!DOCTYPE HTML>

<html>
	<head>
		<title>Flask Template</title>
    <!-- css -->
    <style>
      form {
        margin: 0 auto;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      input {
        font-size: 28px;
        margin-top: 20px;
      }
    </style>

	</head>

  <!-- main code -->
	<body>
		<form>
			<input type="text" placeholder="age" name="age"></input>
      <input type="text" placeholder="sex" name="sex"></input>
      <input type="text" placeholder="blood pressure" name="bp"></input>
      <input type="text" placeholder="exercise induced angina" name="exang"></input>
      <input type="text" placeholder="chest pain (1-4)" name="cp"></input>
      <input type="text" placeholder="cholestoral" name="chol"></input>
      <input type="text" placeholder="blood sugar" name="bs"></input>
      <input type="text" placeholder="num of major vessels (0-3)" name="caa"></input>

			<input type="submit" value="max heart rate"></input>
		</form>

    {{ output }}

	</body>

</html>