<!DOCTYPE HTML>

<html>
	<head>
		<title>Flask Template</title>
    <!-- css -->
    <style>
      form {
        margin: 0 auto;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      input {
        font-size: 28px;
        margin-top: 20px;
      }
    </style>

	</head>

  <!-- main code -->
	<body>
		<form>
			<input type="text" placeholder="username" name="input1"></input>
      <input type="text" placeholder="username" name="input2"></input>
      <input type="text" placeholder="username" name="input3"></input>
      <input type="text" placeholder="username" name="input4"></input>

			<input type="submit" value="predict"></input>
		</form>
	</body>

</html>